/**
 *
 * New variables names
 *
 */
.preview-update .schedule-container {
  padding: 0;
  position: relative;
  z-index: 30;
  left: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e2e2e2;
  user-select: none;
  opacity: 0.0;
  max-height: 0;
  pointer-events: none;
}
@media (min-width: 1300px) {
  .preview-update .schedule-container {
    left: 220px;
    width: calc(100% - 220px);
  }
}
.t-animation .preview-update .schedule-container {
  transition: 0.4s ease-out;
}
.preview-update #scheduleOptions {
  transition: color 0.5s linear;
}
.preview-update .schedule-day {
  min-height: 85px;
  margin: 0;
  user-select: none;
  padding: 10px;
  box-sizing: border-box;
}
.preview-update .schedule-top-container {
  display: flex;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.preview-update .schedule-month-label {
  font-size: 18px;
  color: #1d1d1d;
  font-weight: 500;
}
.preview-update .schedule-jump-to {
  flex-shrink: 0;
  font-size: 17px;
  color: #555;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
}
.preview-update .schedule-jump-to .ui-datepicker {
  pointer-events: none;
  opacity: 0.0;
  transition: all 0.2s linear;
  position: absolute;
}
.preview-update .schedule-jump-to.schedule-jump-to--show-cal {
  color: #FF6700;
}
.preview-update .schedule-jump-to.schedule-jump-to--show-cal .ui-datepicker {
  pointer-events: all;
  opacity: 1.0;
}
.preview-update .schedule-day-wrapper {
  user-select: none;
  outline: 0;
  display: flex;
  min-width: 120px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  margin: 0 5px;
  border-radius: 3px;
}
.preview-update .schedule-day-wrapper.schedule-day-wrapper--weekend {
  background-color: #f2f2f2;
}
.preview-update .schedule-day-wrapper.schedule-day-wrapper--today {
  border: 1px solid #FF6700;
}
.preview-update .schedule-day-wrapper.schedule-day-wrapper--today .schedule-day-label {
  color: #FF6700;
}
.preview-update .schedule-day-label {
  text-align: center;
  font-size: 12px;
  margin: 10px 0;
  color: #aaa;
}
.preview-update .c-Header-controls {
  position: absolute;
  margin: 0;
  display: flex;
  padding: 14px 10px;
  box-sizing: border-box;
}
.preview-update .controls-left {
  flex-shrink: 0;
}
.preview-update .controls-right {
  width: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
}
.preview-update .c-Header {
  height: 60px;
}
.preview-update .schedule-group {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.preview-update .schedule-scroll-left {
  width: 40px;
  flex-shrink: 0;
  cursor: pointer;
  display: flex !important;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
}
.preview-update .schedule-scroll-left i {
  font-size: 20px;
  color: #ccc;
}
.preview-update .schedule-scroll-left i:hover {
  color: #555;
}
.preview-update .schedule-scroll-right {
  width: 40px;
  flex-shrink: 0;
  cursor: pointer;
  display: flex !important;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
}
.preview-update .schedule-scroll-right i {
  font-size: 20px;
  color: #ccc;
}
.preview-update .schedule-scroll-right i:hover {
  color: #555;
}
.preview-update .schedule-wrapper {
  width: calc(100% - 80px);
  height: 100%;
  user-select: none;
  flex-shrink: 1;
}
.preview-update .schedule-wrapper:before {
  content: "";
  pointer-events: none;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: block;
  background: #000;
  background: linear-gradient(to left, #f2f2f2 0, rgba(242, 242, 242, 0) 100%);
  visibility: visible;
  z-index: 100;
}
.preview-update .schedule-wrapper:after {
  content: "";
  pointer-events: none;
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
  background: #000;
  background: linear-gradient(to right, #f2f2f2 0, rgba(242, 242, 242, 0) 100%);
  visibility: visible;
  z-index: 100;
}
.preview-update .schedule-element {
  min-height: 20px;
  margin: 0px 0px 2px 0px;
  display: flex;
  color: #FF6700;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #f5f3f4;
  color: #484848;
}
.preview-update .schedule-element.schedule-element--selected {
  background-color: #484848;
}
.preview-update .schedule-element.schedule-element--selected .schedule-element__name {
  color: #fff;
}
.preview-update .schedule-element:last-of-type {
  margin-bottom: 0px;
}
.preview-update .schedule-element__name {
  width: 100%;
  flex-shrink: 1;
  font-size: 14px;
  padding: 2px 3px;
  box-sizing: border-box;
}
.preview-update .schedule-element__dates {
  display: flex;
  font-size: 10px;
  box-sizing: border-box;
  flex-shrink: 0;
  color: #fff;
}
.preview-update .schedule-element__date-published {
  background-color: #b9c468;
  padding: 4px 3px 0px 3px;
}
.preview-update .schedule-element__date-unpublished {
  background-color: #fd9149;
  padding: 4px 3px 0px 3px;
}
.preview-update .c-Header-title {
  display: flex;
  margin: 0;
}
.preview-update .c-Header-title-text {
  display: flex;
}
.preview-update .c-Title {
  padding: 0;
  position: relative;
  z-index: 30;
  left: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  padding-top: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}
@media (min-width: 1300px) {
  .preview-update .c-Title {
    left: 220px;
    width: calc(100% - 220px);
  }
}
@media (min-width: 601px) and (max-width: 1070px) {
}
@media (max-width: 600px) {
}
.t-animation .preview-update .c-Title {
  transition: 0.4s ease-out;
}
.preview-update .c-Content {
  padding: 30px 30px 40px 30px;
}
.preview-update.preview-update--show-schedule .schedule-container {
  max-height: 500px;
  opacity: 1.0;
  pointer-events: all;
}
.preview-update.preview-update--show-schedule #scheduleOptions {
  color: #FF6700;
}
.preview-update .ui-state-default.ui-state-highlight.ui-state-active {
  color: #fff;
}
.revisions .filters__wrapper textarea {
  height: 33px !important;
}
.revisions .library__cell:nth-child(1) {
  width: 24px;
  flex-shrink: 0;
}
.revisions .library__cell:nth-child(2) {
  width: 80px;
  flex-shrink: 0;
}
.revisions .library__cell:nth-child(3) {
  width: 20%;
  flex-shrink: 0;
  font-weight: 300;
}
.revisions .library__cell:nth-child(4) {
  width: 15%;
  flex-shrink: 0;
  font-weight: 300;
}
.revisions .library__cell:nth-child(5) {
  width: 10%;
  flex-shrink: 0;
  font-weight: 300;
}
.revisions .library__cell:nth-child(6) {
  width: 10%;
  flex-shrink: 0;
  font-weight: 300;
}
.revisions .library__cell:nth-child(7) {
  width: 20%;
  flex-shrink: 0;
  font-weight: 300;
}
.revisions .use-datepicker .ui-datepicker {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
}
.revisions .use-datepicker.use-datepicker--show .ui-datepicker {
  opacity: 1.0;
  pointer-events: all;
}
.revisions .use-datepicker__container {
  position: relative;
}
.revisions .ui-state-default.ui-state-highlight.ui-state-active {
  color: #fff;
}
