<div class="card card--foldable js-foldable" id="card-media">
    <div class="card__title js-foldedToggle js-stickyOnMobile">Media</div>
    <div class="card__body card__body--with-section grid grid--row">
        <div class="card__panel card__panel--left card__panel--wide">
            <div class="card__controls" data-uk-sticky="{boundary: true, top:50, clsactive: 'is-stuck'}">
                <div class="left">
                    <div class="selectAll">
                        <button class="empty" id="selectAll" title="Select All"></button><label id="selectAllLabel" for="selectAll">All</label>
                    </div>
                    <button class="button button_style_transparent-gray" id="multiEdit">
                        <i class="fa fa-pencil-square"></i>
                        <span class="buttonText">  Multi Edit</span>
                        <div class="button__warning is-hidden"></div>
                    </button>
                    <button class="button button_style_transparent-gray" id="bulkRemove"><i class="fa fa-times-circle"></i><span class="buttonText">  Remove</span></button>
                </div>
                <div class="right">
                    <!--span class="assets-count" id='assets-count'></span-->
                    <button class="button button_style_transparent-gray" id="uploadFiles" ><i class="fa fa-upload"></i><span class="buttonText">  Upload Files</span></button>
                    <button class="button button_style_transparent-gray" id="assetLibrary"><i class="fa fa-folder-open"></i><span class="buttonText">  Add from Library</span></button>

                    <button class="button button_style_transparent-gray js-dropdown u-noMargin" id="mediaActionsSmall"><i class="fa fa-ellipsis-v"></i></button>
                    <button class="button button_style_transparent-gray js-dropdown u-noMargin" id="mediaActionsFull"><i class="fa fa-ellipsis-v"></i></button>
                </div>
            </div>
            <div class="files js-files" data-files-type="mediaGallery">
                <!-- Files Section-->
                <div class="section">
                    <div class="js-media-tab"></div>
                    <div class="section__files section__files_view_grid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
