<script src="lib/jQuery/jquery-1.11.3.min.js"></script>
<script src="lib/jQuery/jquery-ui.min.js"></script>

<script src="lib/UIKit/uikit.min.js"></script>
<script src="lib/UIKit/smooth-scroll.min.js"></script>
<script src="lib/UIKit/scrollspy.min.js"></script>
<script src="lib/UIKit/sticky.min.js"></script>

<script src="lib/jquery.sticky-kit.min.js"></script>
<script src="lib/jquery.elastic.source.js"></script>
<script src="lib/MediumEditor/medium-editor.min.js"></script>

<script src="lib/tinymce/js/tinymce/tinymce.min.js"></script>

<script src="js/settings.js"></script>