<div class="listicle-overlay modal modal--full dark" id="listicle-overlay">
    <div class="modal__close js-close-overlay"></div>
    <!-- Asset Library Header -->
    <div class="overlay-header">
        <div class="overlay-title">New Listicle</div>
    </div>
    <div class="overlay-body listicle-overlay-body">
        <div class="js-listicle-edit"></div>
    </div>
    <div class="modal__controls modal__controls--bottom modal__controls--not-fixed">
        <button class="button button_style_fill-accent js-overlay-save">Insert listicle</button>
        <button class="button button_style_outline-white js-listicle-overlay-cancel">Cancel</button>
    </div>
</div>
