<div class="menu js-menu" id="menu">
  <div class="menu__logo">Concerto</div>
  <div class="menu__close js-close"></div>
  <ul class="menu__list">
    <li class="menu__item js-menuItem" data-target="dashboard.html">Dashboard</li>
    <li class="menu__item">
      <span class="js-menuItem" data-target="content-library.html">Content</span>
      <ul class="menu__submenu">
        <li class="menu__submenu-item js-menuItem" data-target="create-series.html">New Series</li>
        <li class="menu__submenu-item js-menuItem" data-target="create-season.html">New Season</li>
        <li class="menu__submenu-item js-menuItem" data-target="create-episode.html">New Episode</li>
        <li class="menu__submenu-item js-menuItem" data-target="create-event.html">New Event</li>
        <li class="menu__submenu-item js-menuItem" data-target="create-gallery.html">New Gallery</li>
        <li class="menu__submenu-item js-menuItem" data-target="create-post.html">New Post</li>
        <!--li class="menu__submenu-item js-menuItem" data-target="create-page.html">New Static Page</li-->
        <li class="menu__submenu-item js-menuItem" data-target="create-promo.html">New Promo</li>
      </ul>
    </li>
    <li class="menu__item js-menuItem">
      <span class="">Person &amp; Role</span>
      <ul class="menu__submenu">
        <li class="menu__submenu-item js-menuItem" data-target="create-person.html">New Person</li>
        <li class="menu__submenu-item js-menuItem" data-target="create-character.html">New Role</li>
      </ul>
    </li>
    <li class="menu__item js-menuItem" data-target="asset-library.html">Media</li>
    <li class="menu__item">
      <span class="js-menuItem" data-target="collection-library.html">Collections</span>
      <ul class="menu__submenu">
        <li class="menu__submenu-item js-menuItem" data-target="create-collection.html">New Collection</li>
        <li class="menu__submenu-item js-menuItem" data-target="create-masterCollection.html">New Collection Group</li>
      </ul>
    </li>
    <li class="menu__item js-menuItem">
      <span class="">Configuration</span>
      <ul class="menu__submenu">
        <li class="menu__submenu-item js-menuItem">File System</li>
        <li class="menu__submenu-item js-menuItem">Event Count</li>
        <li class="menu__submenu-item js-menuItem" data-target="config-image-styles.html">Image Styles</li>
        <li class="menu__submenu-item js-menuItem">Focal Point</li>
      </ul>
    </li>
  </ul>
</div>
