<div class="preview-modal">
    <div class="preview-modal__close">
        <img class="svg" src="img/icons/close-modal.svg" />
    </div>
    <div class="preview-modal__container">
        <div class="preview-modal__row preview-modal__devices">
            <div class="preview-modal__label">Devices</div>
            <div class="preview-modal__options preview-modal__row">
                <div class="preview-modal__column preview-modal__devices-col">
                    <div class="preview-modal__option preview-modal__option--selected">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">Web</div>
                    </div>
                    <div class="preview-modal__option preview-modal__option--disabled">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">iOs</div>
                    </div>
                    <div class="preview-modal__option preview-modal__option--disabled">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">Android</div>
                    </div>
                    <div class="preview-modal__option preview-modal__option--disabled">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">Windows</div>
                    </div>
                    <div class="preview-modal__option preview-modal__option--disabled">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">Apple TV</div>
                    </div>
                </div>
                <div class="preview-modal__column preview-modal__devices-col">
                    <div class="preview-modal__option preview-modal__option--disabled">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">Amazon Fire TV</div>
                    </div>
                    <div class="preview-modal__option preview-modal__option--disabled">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">Amazon Alexa Skill</div>
                    </div>
                    <div class="preview-modal__option preview-modal__option--disabled">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">XBox One</div>
                    </div>
                    <div class="preview-modal__option preview-modal__option--disabled">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">Xbox 360</div>
                    </div>
                    <div class="preview-modal__option preview-modal__option--disabled">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">Roku</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview-modal__row preview-modal__schedule">
            <div class="preview-modal__label">Preview as of</div>
            <div class="preview-modal__options">
                <div class="preview-modal__row">
                    <div class="preview-modal__option preview-modal__live">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__option-label">Live</div>
                    </div>
                </div>
                <div class="preview-modal__row">
                    <div class="preview-modal__option preview-modal__datetime preview-modal__option--selected">
                        <div class="preview-modal__option-point"></div>
                        <div class="preview-modal__column preview-modal__date preview-modal__input-object">
                            <div class="preview-modal__cal"></div>
                            <div class="preview-modal__input-label"><span class="preview-modal__required">*</span> Date</div>
                            <div class="preview-modal__input preview-modal__date-input" data-element="previewDate" ></div>
                        </div>
                        <div class="preview-modal__column preview-modal__time preview-modal__input-object">
                            <div class="preview-modal__input-label"><span class="preview-modal__required">*</span> Time</div>
                            <input class="preview-modal__input preview-modal__time-input" data-element="previewTime" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview-modal__row preview-modal__controls">
            <a href="http://www.usanetwork.com/" class="preview-modal__button" target="_blank">Launch</a>
        </div>
    </div>
</div>