<div class="schedule-container">
    <div id="schedule-container-close" class="schedule-view-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="schedule-top-container">
        <div class="schedule-month-label">April 2017</div>
        <div class="schedule-jump-to"><i class="fa fa-calendar" aria-hidden="true"></i></div>
    </div>
    <div class="schedule-group">
        <div class="schedule-scroll-left">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
        <div class="schedule-wrapper">
        </div>
        <div class="schedule-scroll-right">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
    </div>
</div>