<div class="c-Header-anchor"></div>
<div class="c-Header js-header">

    <div class="c-Title js-header">
        <div class="c-Header-title">
            <div class="c-Header-title-text" id="seriesTitleText">
                <div class="c-big-title"></div>
                <div class="c-Header-favorite">
                    <input type="checkbox" class="favorite" id="toDashboard" />
                    <label for="toDashboard">Add to favorites</label>
                </div>
            </div>
            <div class="header__subhead"></div>
        </div>
    </div>

    <div class="c-Header-controls">
        <div class="controls-right">
            <div class="schedule-options__wrapper">
                



                <button class="button button_style_transparent-gray u-hidden-xs u-hidden-s create-new-version__switcher">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    <span>Create New</span>
                </button>
                <button class="button button_style_transparent-gray u-hidden-xs u-hidden-s saveAndSchedule">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    <span>Save & Schedule</span>
                </button>
                <button class="button button_style_transparent-gray u-hidden-xs u-hidden-s previewDraft" id="previewDraft">
                    <i class="fa fa-tv" aria-hidden="true"></i>
                    <span>Preview</span>
                </button>
                <button class="button button_style_transparent-gray u-hidden-xs" id="saveDraft" type="submit">
                    <i class="fa fa-check"></i>
                    <span>Save as Draft</span>
                </button>
                <button class="button button_style_transparent-gray u-hidden-xs publishDraft">
                    <i class="fa fa-external-link"></i>
                    <span>Publish</span>
                </button>


                <div class="enable-pointer-events schedule-more-options__wrapper">
                    <div class="schedule-menu">
                        <button class="button button_style_transparent-gray u-hidden-l u-hidden-n u-hidden-s publishDraft">
                            <i class="fa fa-external-link"></i>
                            <span>Publish</span>
                        </button>

                        <button class="button button_style_transparent-gray u-hidden-l u-hidden-n u-hidden-s" id="saveDraft" type="submit">
                            <i class="fa fa-check"></i>
                            <span>Save as Draft</span>
                        </button>

                        <button class="button button_style_transparent-gray u-hidden-l u-hidden-n previewDraft" id="previewDraft">
                            <i class="fa fa-tv" aria-hidden="true"></i>
                            <span>Preview</span>
                        </button>

                        <button class="button button_style_transparent-gray u-hidden-l u-hidden-n saveAndSchedule">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span>Save & Schedule</span>
                        </button>

                        <button class="button button_style_transparent-gray u-hidden-l u-hidden-n create-new-version__switcher">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            <span>Create New</span>
                        </button>

                        <button class="button button_style_transparent-gray u-noMargin" id="scheduleOptions">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>Scheduling Calendar</span>
                        </button>

                        <button class="button button_style_transparent-gray u-noMargin" id="seeChanges">
                            <i class="fa fa-bars"></i>
                            <span>Compare Changes</span>
                        </button>

                        <button class="button button_style_transparent-gray u-noMargin" id="seeHistory">
                            <i class="fa fa-history"></i>
                            <span>History</span>
                        </button>

                        <button class="button button_style_transparent-gray u-noMargin unpublishDraft">
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                            <span>Unpublish</span>
                        </button>
                    </div>

                    <button class="button button_style_transparent-gray u-noMargin more-options-button" id="scheduleMenuTrigger">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="u-hidden-xs">More options</span>
                    </button>
                </div>


                
                
            </div>
        </div>
    </div>


</div>

