<div class="c-Content c-Content--content-library o-Grid o-Grid--col js-content c-Changes">
                
    <div class="schedule-view-close" id="history-close">
        <i class="fa fa-close"></i>
    </div>
    
    <div class="content__controls content__controls--library">
        <div class="content__controls-left">
            <div class="" id="itemsPerPageSelectbox" style="width: 120px;"></div>

            <button class="button button_style_transparent-gray js-dropdown u-noMargin" id="sortContentDropdown"><i class="fa fa-sort-amount-asc"></i></button>
        </div>
        <div class="content__controls-right">
            <div class="content__results" id="contentResults">
                <span class="content__results-number"></span>
                <span class="content__results-text"></span>
            </div>
            <div class="pagination" id="contentPagination"></div>
        </div>
    </div>
    <div class="content__library" id="contentLibrary">
    </div>
</div>